body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    background: #555454;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;    
}
.logo img {
    height: 30px;
    width: 30px;
}
.logo{
    flex: 1;
}
nav{
    flex: 2;
    display: flex;
    justify-content: center;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

#hero {
    padding-top: 80px;
    text-align: center;
    background: #62aba5;
    color: white;
    padding-bottom: 30px;
}

.section {
    text-align: center;
    padding: 20px 20px;
}

.profile-img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;
}

.project-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.project-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

form input, form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

form button {
    padding: 10px;
    border: none;
    background: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

form button:hover {
    background: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

